<template>
  <div class="h-64 w-full border-b"></div>
</template>

<script>
import cytoscape from "cytoscape";
import style from "./style";
import buildGraphElements from "@/backend/buildGraphElements";
import avsdf from "cytoscape-avsdf";

cytoscape.use(avsdf);

export default {
  props: {
    fsm: Object
  },
  computed: {
    elements() {
      return buildGraphElements(this.fsm);
    }
  },
  methods: {
    render(elements) {
      cytoscape({
        container: this.$el,
        elements,
        style,
        autounselectify: true,

        layout: {
          name: "avsdf",
          animate: false,
          nodeSeparation: 200
        }
      });
    }
  },
  watch: {
    elements: {
      handler(elements) {
        this.render(elements);
      },
      deep: true
    }
  },
  mounted() {
    this.render(this.elements);
  }
};
</script>
