<template>
  <div class="flex h-full">
    <div class="w-48 overflow-y-auto flex-shrink-0 border-r h-full">
      <span>File content</span>
      <pre class="bg-gray-200">{{ input }}</pre>
    </div>
    <div class="w-full">
      <graph :fsm="parsed" />
      <div v-if="parsed.dfa !== undefined || parsed.words">
        Test vectors:
        <div class="grid">
          <div>
            Type
          </div>
          <div>
            Test
          </div>
          <div>
            Actual
          </div>
          <div>
            Match
          </div>
          <div>
            DFA
          </div>
          <div>
            {{ parsed.dfa }}
          </div>
          <div>
            {{ dfa }}
          </div>
          <div>
            {{ dfa === parsed.dfa ? "Yes" : "No" }}
          </div>
          <div>
            Finite
          </div>
          <div>
            {{ parsed.finite }}
          </div>
          <div>
            {{ finite.finite }}
          </div>
          <div>
            {{ finite.finite === parsed.finite ? "Yes" : "No" }}
          </div>

          <div v-for="word in words" :key="word.word" style="display: contents">
            <div>
              {{ word.word }}
            </div>
            <div>
              {{ word.accepted }}
            </div>
            <div>
              {{ word.actual }}
            </div>
            <div>
              {{ word.accepted === word.actual ? "Yes" : "No" }}
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 float-right flex">
        <button
          v-if="!parsed.dfa"
          class="bg-purple-600 text-white text-sm rounded-sm mx-2 px-2 py-1 shadow-lg hover:shadow-xl"
          @click="convertNdfa"
        >
          Convert to DFA
        </button>

        <div
          v-if="showDfa"
          class="absolute modal-bg top-0 right-0 left-0 bottom-0"
          @click.self="showDfa = false"
        >
          <div class="bg-white rounded shadow-xl p-3 m-20">
            <pre>
              {{ converted }}
            </pre>
            <button
              class="bg-purple-600 text-white text-sm rounded-sm mx-2 px-2 py-1 shadow-lg hover:shadow-xl"
              @click="save"
            >
              Save as file
            </button>
          </div>
        </div>

        <button
          v-if="finite.finite"
          class="bg-purple-600 text-white text-sm rounded-sm mx-2 px-2 py-1 shadow-lg hover:shadow-xl"
          @click="showWords = true"
        >
          Show accepted words
        </button>

        <div
          v-if="showWords"
          class="absolute modal-bg top-0 right-0 left-0 bottom-0"
          @click.self="showWords = false"
        >
          <div class="bg-white rounded shadow-xl p-3 m-20">
            <pre>
              Finite words:
              {{ finite.words.join("\n") }}
              
            </pre>
          </div>
        </div>
        <regex @file="$emit('file', $event)" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Lexer from "@/backend/parse/lexer";
import Parser from "@/backend/parse/parser";
import Visitor from "@/backend/parse/visitor";
import FSM from "@/backend/parse/fsm";
import checkDFA from "@/backend/validation/checkDFA";
import checkWords from "@/backend/validation/checkWords";
import checkFinite from "@/backend/validation/checkFinite";
import Fsm from "../../types/Fsm";

import Graph from "./Graph.vue";
import Regex from "./Regex.vue";

import nfa2dfa from "@/backend/convert/nfa2dfa";
import stringify from "@/backend/parse/stringify";

import * as path from "path";
import * as fs from "fs";
import { remote, SaveDialogOptions } from "electron";
export default Vue.extend({
  components: { Graph, Regex },
  data() {
    return {
      showWords: false,
      showDfa: false,
      converted: ""
    };
  },
  props: {
    input: {
      type: String,
      required: true
    }
  },
  computed: {
    parsed(): Fsm {
      const lexed = Lexer.tokenize(String(this.input));
      Parser.input = lexed.tokens;
      const cst = Parser.fsm();
      const ast = Visitor.visit(cst);
      const fsm = FSM(ast);
      return fsm;
    },
    dfa(): Boolean {
      return checkDFA(this.parsed);
    },
    finite(): { finite: Boolean; words: string[] } {
      return checkFinite(this.parsed);
    },
    words(): { word: string; accepted: Boolean; actual: Boolean }[] {
      if (this.parsed.words) {
        return checkWords(this.parsed);
      }
      return [];
    }
  },
  methods: {
    save() {
      let options: SaveDialogOptions = {
        filters: [{ name: "Finite state machine", extensions: ["txt"] }]
      };
      let file = remote.dialog.showSaveDialog(options);

      file.then(r => {
        const { filePath } = r;

        fs.writeFileSync(filePath || "", this.converted, { encoding: "utf8" });
        this.showDfa = false;
      });
    },
    convertNdfa() {
      this.converted = stringify(nfa2dfa(this.parsed));
      this.showDfa = true;
    }
  }
});
</script>
<style lang="scss" scoped>
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.3rem;
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
</style>
