<template>
  <div>
    <button
      class="bg-purple-600 text-white text-sm rounded-sm mx-2 px-2 py-1 shadow-lg hover:shadow-xl"
      @click="showModal = true"
    >
      Input regex
    </button>
    <div
      v-if="showModal"
      class="absolute modal-bg top-0 right-0 left-0 bottom-0"
      @click.self="showModal = false"
    >
      <div class="bg-white rounded shadow-xl p-3 m-20">
        <div class="flex items-center">
          <span class="mr-3">
            Enter regex
          </span>
          <input
            type="text"
            v-model="regex"
            class="py-1 px-2 rounded border bg-gray-100 flex-auto"
            @keypress.enter="parse"
          />
          <button
            class="bg-purple-600 text-white text-sm rounded-sm mx-2 px-2 py-1 shadow-lg hover:shadow-xl"
            @click="parse"
          >
            Parse
          </button>
        </div>
        <div v-if="parsed">
          <pre class="max-w-full overflow-auto" style="max-height: 300px;">
            {{ parsed }}
          </pre>

          <button
            class="bg-purple-600 text-white text-sm rounded-sm mx-2 px-2 py-1 shadow-lg hover:shadow-xl"
            @click="save"
          >
            Save as file
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ndfsm from "@/backend/regex/ndfsm";
import * as path from "path";
import * as fs from "fs";
import { remote, SaveDialogOptions } from "electron";
export default Vue.extend({
  data() {
    return {
      showModal: false,
      regex: "",
      parsed: ""
    };
  },
  methods: {
    parse() {
      this.parsed = ndfsm(this.regex);
    },
    save() {
      let options: SaveDialogOptions = {
        filters: [{ name: "Finite state machine", extensions: ["txt"] }]
      };
      let file = remote.dialog.showSaveDialog(options);

      file.then(r => {
        // console.log(r);
        const { filePath } = r;

        fs.writeFileSync(filePath || "", this.parsed, { encoding: "utf8" });
        this.showModal = false;
      });
    }
  }
});
</script>

<style scoped>
.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
</style>
