<template>
  <div v-if="!loaded" class="my-2">
    <button
      class="bg-purple-600 text-white rounded-sm px-3 py-1 shadow-lg hover:shadow-xl"
      @click="click"
    >
      Open PDA file
    </button>
  </div>
  <div
    class="w-screen h-screen absolute top-0 left-0 right-0 bottom-0 bg-white overflow-auto"
    v-else
  >
    <button
      class="bg-purple-600 text-white rounded-sm px-3 py-1 shadow-lg hover:shadow-xl"
      @click="loaded = false"
    >
      Back to selection
    </button>
    <parsed :file="file" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import * as path from "path";
import * as fs from "fs";
import { remote, OpenDialogOptions } from "electron";
import Parsed from "./Parsed.vue";

export default Vue.extend({
  components: { Parsed },
  data() {
    return {
      loaded: false,
      file: ""
    };
  },
  methods: {
    click() {
      let options: OpenDialogOptions = { properties: ["openFile"] };
      const file = remote.dialog.showOpenDialog(options);
      file.then(r => {
        if (r.filePaths) {
          const fileName: string = r.filePaths[0] || "";
          fs.readFile(fileName, "utf8", (err, data) => {
            // console.log(data);
            this.file = data;
            this.loaded = true;
          });
        }
      });
    }
  }
});
</script>
