<template>
  <div class="flex">
    <div
      class="w-48 overflow-y-auto h-screen overflow-x-auto flex-shrink-0 border-r h-full"
    >
      <span>File content</span>
      <pre class="bg-gray-200">{{ file }}</pre>
    </div>

    <div v-if="parsed.words" class="flex-auto">
      Test vectors:
      <div class="grid">
        <div>
          Type
        </div>
        <div>
          Test
        </div>
        <div>
          Actual
        </div>
        <div>
          Match
        </div>
        <div v-for="word in words" :key="word.word" style="display: contents">
          <div>
            {{ word.word }}
          </div>
          <div>
            {{ word.accepted }}
          </div>
          <div>
            {{ word.actual }}
          </div>
          <div>
            {{ word.accepted === word.actual ? "Yes" : "No" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import FSM from "@/backend/pda/fsm";
import Parser from "@/backend/pda/parser";
import Lexer from "@/backend/pda/lexer";
import Visitor from "@/backend/pda/visitor";
import checkWord from "@/backend/validation/PdaCheckWord";
import PdaFsm from "../../types/PdaFsm";
export default Vue.extend({
  props: {
    file: String
  },
  data() {
    return {};
  },
  computed: {
    parsed(): PdaFsm {
      const lexed = Lexer.tokenize(this.file);
      Parser.input = lexed.tokens;
      const cst = Parser.fsm();
      const ast = Visitor.visit(cst);
      const fsm = FSM(ast);
      return fsm;
    },
    words(): { word: string; accepted: Boolean; actual: Boolean }[] {
      return this.parsed.words.map(
        (w: { accepted: Boolean; word: string }) => ({
          ...w,
          actual: checkWord(w.word, this.parsed)
        })
      );
    }
  }
});
</script>

<style lang="scss" scoped>
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.3rem;
}
</style>
