<template>
  <div>
    <button
      class="bg-purple-600 text-white rounded-sm px-3 py-1 shadow-lg hover:shadow-xl"
      @click="click"
    >
      <slot>Choose folder</slot>
    </button>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import * as path from "path";
import * as fs from "fs";
import glob from "glob";
import File from "@/types/File.ts";
import { remote, OpenDialogOptions } from "electron";
import openDirectory from "@/backend/openDirectory";
export default Vue.extend({
  methods: {
    click() {
      let options: OpenDialogOptions = { properties: ["openDirectory"] };
      let dir = remote.dialog.showOpenDialog(options);
      dir.then(r => {
        const { filePaths } = r;
        const dirString: string = filePaths ? filePaths[0] : "";
        this.$emit("directory", dirString);
        openDirectory(dirString).then(r => {
          this.$emit("loaded", r);
        });
      });
    }
  }
});
</script>
