<template>
  <div>
    <div v-if="!loaded">
      <div class="flex items-center justify-center flex-col h-screen">
        <h2 class="font-bold text-purple-600">ALE 2: Finite state machines</h2>
        <p class="text-center mb-10">
          Click the button below to open a folder <br />
          which contains valid .txt files
        </p>
        <file-picker @directory="currentDir = $event" @loaded="load" />
        <pda />
      </div>
    </div>
    <div v-else>
      <div class="flex w-full items-center border-b">
        <div class="flex flex-auto max-w-full overflow-x-auto select-none p-1">
          <span class="mr-2">Files:</span>

          <div
            class="rounded mr-2 bg-gray-300 px-2"
            v-for="tab in tabs"
            :key="tab"
            @click="selectTab(tab)"
            :class="{
              'bg-blue-300': activeFile === tab
            }"
          >
            {{ tab }}
          </div>
        </div>
        <div class="flex items-center">
          <div
            class="mr-2 px-2 py-1 bg-gray-200 rounded text-xs cursor-pointer"
            @click="refresh"
          >
            Refresh files
          </div>
          <file-picker
            @loaded="load"
            @directory="currentDir = $event"
            class="text-xs"
          >
            Open other folder
          </file-picker>
        </div>
      </div>
      <div v-if="activeFile">
        <parsed :input="activeContent" @file="newFile" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import FilePicker from "./components/FilePicker.vue";
import File from "@/types/File.ts";
import Parsed from "./components/State/Parsed.vue";
import Pda from "@/components/Pda/App.vue";
import openDirectory from "@/backend/openDirectory";

const initial = {
  files: [] as File[],
  activeFile: "",
  currentDir: ""
};
// if (process.env.NODE_ENV === "development") {
//   initial.files = [
//     {
//       name: "andi_ndfa1",
//       content:
//         "alphabet: ab\nstates: q0,q1\nfinal: q0\n\ntransitions:\nq0,a --> q1\nq0,b --> q1\nq1,a --> q0\nq1,b --> q0\nq1,_ --> q1\nend.\n\n\ndfa: n\nfinite: n\nwords:\na,y\nab,n\nend.\n\n"
//     },
//     {
//       name: "dfa1",
//       content:
//         "alphabet: ab\r\nstates: q1,q2,q3,q4\r\nfinal: q3\r\ntransitions:\r\nq1,a --> q2\r\nq1,b --> q4\r\nq2,a --> q3\r\nq2,b --> q4\r\nq3,a --> q3\r\nq3,b --> q1\r\nq4,a --> q1\r\nq4,b --> q4\r\nend.\r\n\r\ndfa: n\r\nfinite: n\r\n\r\nwords:\r\naaa,y\r\naabbaabbbaaa,y\r\nab,n\r\nend."
//     },
//     {
//       name: "ndfa1",
//       content:
//         "alphabet: ab\r\nstates: q0\r\nfinal: q0\r\ntransitions:\r\nq0,a --> q0\r\nend.\r\n\r\ndfa: n\r\nfinite: n\r\n\r\nwords:\r\na,y\r\nab,n\r\nend."
//     }
//   ] as File[];
//   initial.activeFile = "andi_ndfa1";
//   initial.currentDir = "";
// }

export default Vue.extend({
  components: { FilePicker, Parsed, Pda },
  data() {
    return initial;
  },
  computed: {
    loaded(): Boolean {
      return this.files.length > 0;
    },
    tabs(): string[] {
      return this.files.map(f => f.name);
    },
    activeContent(): string {
      return this.files[this.tabs.indexOf(this.activeFile)].content;
    }
  },
  methods: {
    selectTab(tab: string): void {
      this.activeFile = tab;
    },
    load(files: File[]) {
      this.files = files;
      if (files.length > 0) this.selectTab(files[0].name);
      else this.selectTab("");
    },
    refresh(): void {
      openDirectory(this.currentDir).then(r => {
        this.load(r);
      });
    },
    newFile(file: File): void {
      // console.log(file);
      this.files = [...this.files, file];
      this.selectTab(file.name);
    }
  }
});
</script>
